@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background: hsl(204, 43%, 93%);
}

.container{
    display: flex;
    flex-direction: column;
    width: 325px;
    margin: 0 auto;
    text-align: center;
    margin-top: 75px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tarjeta{
    height: 250px;
    padding: 25px;
}

.encabezado{
    background: #FFF;
    text-align: start;
}

.encabezado__h1{
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 20px;
}

.encabezado__h2{
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}

.encabezado__p{
    color: hsl(218, 22%, 67%);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
}

.sub{
    background: hsl(179, 62%, 43%);
    text-align: start;
}

.sub__h3{
    color: #FFF;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

.sub__price{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.price__money{
    color: #FFF;
    font-weight: 700;
    font-size: 32px;
    margin-right: 15px;
}

.price__p{
    color: hsl(204, 43%, 93%);
    font-weight: 400;
}

.sub__p{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.sub__buttom{
    color: #FFF;
    background: hsl(71, 73%, 54%);
    font-size: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.why{
    background: hsl(179, 61%, 46%);
    text-align: start;
}

.why__h3{
    color: #FFF;
    margin-bottom: 20px;
}

.why__p{
    color: hsl(204, 43%, 93%);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
}

.attribution{
    margin-top: 15px;
    margin-bottom: 60px;
}

@media (min-width:1200px) {
    .container{
        width: 650px;
    }
    
    .tarjeta{
        padding: 40px;
        height: 265px;
    }
    
    .encabezado__h1{
        font-size: 24px;
    }
    
    .encabezado__h2{
        font-size: 18px;
    }
    
    .encabezado__p{
        font-size: 15px;
    }
    
    .cont{
        display: flex;
        flex-direction: row;
    }
    
    .sub{
        background: hsl(179, 62%, 43%);
        text-align: start;
        width: 325px;
    }
    
    .why{
        background: hsl(179, 61%, 46%);
        text-align: start;
        width: 325px;
    }
}